<h1>Comic Book Stores</h1>
<p>This will be where all the pretty mother@#$!%s get their comic books!</p>
<% @stores.each do |store| %>
  <h3><%= store.name %> <%= button_to "Update #{store.name}", "/stores/#{store.id}/edit", method: :get %></h3>
  <p>Store id: <%= store.id %></p>
  <p>Square Footage: <%= store.square_footage %></p>
  <p>Online Sales: <%= store.online_sales %></p>
  <p>Log created: <%= store.created_at %></p>
  <p>Log updated: <%= store.updated_at %></p>
  <p><a href="/stores/<%=store.id%>/publishers">Publishers carried at Store </a><p>
  
  <%= link_to "New Store", "/stores/new" %>
<% end %>