<%= link_to "Publishers Show", "/publishers#show" %>
<%= link_to "Stores Index", "/stores#index" %>
<h1>@store.name</h1>

<h3><%= @store.id %></h3>
 <p>Name:<%= @store.name %></p>
 <p>Square Footage:<%= @store.square_footage %></p>
 <p>Online Sales:<%= @store.online_sales %></p>
 <p>Count of Publishers: <%= @store.count_of_publishers %></p>




