
<h1><%=@store.name%></h1>

<h3>Store ID: <%= @store.id %></h3>
 <p>Square Footage:<%= @store.square_footage %></p>
 <p>Online Sales:<%= @store.online_sales %></p>
 <p>Count of Publishers: <%= @store.count_of_publishers %></p>
 <a href="/stores/<%=@store.id%>/publishers"publishers_by_store </a>
 <p><a href="/stores/<%=@store.id%>/edit">Update Stores</a><p>





