
<h1>Publishers</h1>
<p>This will be the "Publishers" choices the stores have to sell</p>
<% @publishers.each do |publisher| %>
  <h3><%= publisher.name %></h3>
  <p>Cost: <%= publisher.cost %></p>
  <p>Figurines Available: <%= publisher.figurines_available %></p>
  <p>Log created: <%= publisher.created_at %></p>
  <p>Log updated: <%= publisher.updated_at %></p>
 
<% end %>