<%= link_to "Publishers Index", "/publishers#index" %>
<%= link_to "Stores Index", "/stores#index" %>
<h1>Publishers</h1>
<p>This will be where the stores get their comic books from!</p>
<% @publishers.each do |publisher| %>
  <h3><%= publisher.name %></h3>
  <p>Cost: <%= publisher.cost %></p>
  <p>Figurines Available: <%= publisher.figurines_available %></p>
  <p>Log created: <%= publisher.created_at %></p>
  <p>Log updated: <%= publisher.updated_at %></p>
 
<% end %>