<h1>@publisher.name</h1>

<h3><%= @publisher.id %></h3>
 <p>Cost: <%= @publisher.cost %></p>
 <p>Figurines Available: <%= @publisher.figurines_available %></p>
 <p>Log created: <%= @publisher.created_at %></p>
 <p>Log updated: <%= @publisher.updated_at %></p>