
<h1> Create New Publisher </h1>
<%= form_with url: "/stores/#{@store.id}/publishers", method: :post, local: true do |form| %>
<%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :cost %>
  <%= form.text_field :cost %>
  <%= form.label :figurines_available %>
  <%= form.text_field :figurines_available %>
  <%= form.submit "Create New Publisher" %>
  <% end %>